table {
    width: 100%;
}

table td {
    vertical-align: baseline;
    padding: 0px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right{
    text-align: right;
}

input.search::-webkit-input-placeholder {
   text-align: center;
}

input.search:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

input.search::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

input.search:-ms-input-placeholder {
   text-align: center;
}

input.search:focus::-webkit-input-placeholder {
    visibility: hidden;
}

input.search:focus:-moz-placeholder {
    visibility: hidden;
}

input.search:focus::-moz-placeholder {
    visibility: hidden;
}

input.search:focus:-ms-input-placeholder {
    visibility: hidden;
}

input.search {
    display: inline;
    width: 50%;
    min-width: 140px
}

div.flash {
    text-align: center;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 4px;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
}

div.flash.message {
    background-color: #ffd;
}

div.flash.success {
    background-color: #cfc;
}

div.flash.failure {
    background-color: #fcc;
}

div.flash-box {
    text-align:center;
}

.flash-wrapper {
    width: 40%;
    margin: 4px auto;
    text-align: left;
}

.toggle {
    display: none;
}

.toggle-label {
    cursor: pointer;
    font-family: arial;
    position: absolute;
    margin: 8px;
    font-size: 12px;
    color: grey;
    transition: all 150ms ease;
}

.toggle-label:hover {
    color: black;
    text-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    transition: all 150ms ease;
    font-weight: bold;
}

.toggle:checked ~ .toggle-controlled,
.toggle:checked ~ .toggle-label,
.toggle:checked {
    display: none;
}
