{% extends "base.html" %}

{% block title %}Gruppe{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='group.css') }}">
{% endblock %}

{% block content %}

  <div class="debug">

  <div>is_admin: {{ is_admin }}</div>
  <div>is_member: {{ is_member }}</div>

  <div>
  <p class="title"><b>GRUPPE</b><p>
  {% for key, value in group.items() %}
    {{key}}: {{value}}<br>
  {% endfor %}
  </div>

  <div>
  <p class="title"><b>MITGLIEDER</b></p>
  {% for member in members %}
    <p class="element">
    {% for key, value in member.items() %}
      {{key}}: {{value}}<br>
    {% endfor %}
    </p>
  {% endfor %}
  </p>
  </div>

  <br><br>

  <div id="message-box" class="message-box">
    {% for message in messages %}
      <div class="message">

        <div class="left">
          <i>{{ message['DATUM'] }}</i>
          {% set is_self = message['STUDENT_ID'] == group['ERSTELLER_ID'] %}
          {% if message['TYP'] == 'USER' %}
            {% set extra_class = 'underlined' if is_self else '' %}
            <span class="author">
              <b><span class="{{ extra_class }}">{{ message['STUDENT'] }}</span>:&nbsp;</b>
            </span>
          {% else %}
            &ndash;
          {% endif %}
        </div>

        {% if is_self %}
          <input class="edit-checkbox" type="checkbox" id="edit-{{ loop.index0 }}">
        {% endif %}

        <span class="message-text">{{ message['NACHRICHT'] }}</span>

        {% if is_self %}

        {% set edit_message_form = EditGroupMessageForm() %}

        <form style="display: inline" id="message-edit-form" method="POST" action="{{ url_for('groups.edit_group_message', group_id=group['ID'], message_id=message['ID']) }}">

          <div class="right">
            <div class="start">
              <label class="edit-label-edit" for="edit-{{ loop.index0 }}">
                <span class="edit-button">Bearbeiten</span>
              </label>
            </div>
            <div class="stop">
              {{ message_form.submit() }}
              <label class="edit-label-cancel" for="edit-{{ loop.index0 }}">
                <span class="edit-button">Abbrechen</span>
              </label>
            </div>
          </div>

          <span class="message-edit-input-container">
            {{ edit_message_form.message(class_='message-edit-input', value=message['NACHRICHT'], autocomplete='off') }}
          </span>

          <!--<span class="message-edit-input-container"><input class="message-edit-input" autocomplete="off" id="edited_message" maxlength="1023" minlength="1" name="edited_message" required="" type="text" value="{{ message['NACHRICHT'] }}"></span>-->

        </form>

        {% endif %}
      </div>
    {% endfor %}
    <hr>

    <form id="group-message-form" method="POST" action="{{ url_for('groups.group_message', group_id=group['ID']) }}">
      {{ message_form.submit() }}
      {{ message_form.message.label }}
      <span>{{ message_form.message(autocomplete='off') }}</span>
      {% for error in message_form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </form>
  </div>

{% endblock %}
