{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
	<h1>Startseite</h1>
	<section>
		<h2>Letzte Aktivität</h2>
		{%for i in range(0, Messages_len)%}
		<div class="group-message">
			<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title>
				{% if Messages[i].ID % 2 == 0 %}
                <rect width="100%" height="100%" fill="red"></rect><text x="50%" y="50%" fill="red" dy=".3em">32x32</text></svg>
                {% else %}
                <rect width="100%" height="100%" fill="blue"></rect><text x="50%" y="50%" fill="blue" dy=".3em">32x32</text></svg>
                {% endif %}
			<p>
				{% macro group_link() %}
					<a href="{{ url_for('groups.group', group_id=Messages[i].GRUPPE_ID) }}">
						{{Messages[i].GRUPPE}} ({{Messages[i].MODUL}})
					</a>
				{% endmacro %}

				{% if Messages[i].TYP.startswith('USER') %}

				{% if Messages[i].ERSTELLER_ID == session.get('student_id') %}
				<strong>Ich in {{ group_link() }}</strong>
				{% else %}
				<strong>{{Messages[i].ERSTELLER}} in {{ group_link() }}</strong>
				{% endif %}

				{% else %}
				<strong>{{ group_link() }}</strong>
				{% endif %}
				<i>{{Messages[i].DATUM}}</i>
				{{Messages[i].NACHRICHT}}
			</p>
		</div>
		{%endfor%}
	</section>
	<section>
		<h2>Meine Gruppen</h2>
		{%for i in range(0, Groups_len)%}
		<div class="item-group">
            <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title>
                {% if Groups[i].MODUL_ID % 2 == 0 %}
                <rect width="100%" height="100%" fill="red"></rect><text x="50%" y="50%" fill="red" dy=".3em">32x32</text></svg>
                {% else %}
                <rect width="100%" height="100%" fill="blue"></rect><text x="50%" y="50%" fill="blue" dy=".3em">32x32</text></svg>
                {% endif %}
			<p>
				<a href="{{ url_for('groups.group', group_id=Groups[i].ID) }}"><strong>{{Groups[i].NAME}}</strong></a>
                    {%for key, value in Groups[i].items()%}
                    {{key}}: {{value}}<br>
                    {%endfor%}
			</p>
        </div>
        {%endfor%}
	</section>
{% endblock %}

