{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block content %}
    <br>
    <form method="GET" action="{{ url_for('groups.search') }}">
            {{ form.hidden_tag() }}
            {{ form.module_id }}
            {{ form.q() }}<br>
            {{ form.free.label }}
            {{ form.free }} oder mehr
        {{ form.submit() }}
    </form>
	<section>
        <h2>Gruppen</h2>
        {%for i in range(0, len)%}
		<div class="item-group">
            <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title>
                {% if Groups[i].MODUL_ID % 2 == 0 %}
                <rect width="100%" height="100%" fill="red"></rect><text x="50%" y="50%" fill="red" dy=".3em">32x32</text></svg>
                {% else %}
                <rect width="100%" height="100%" fill="blue"></rect><text x="50%" y="50%" fill="blue" dy=".3em">32x32</text></svg>
                {% endif %}
			<p>
				<a href="{{ url_for('groups.group', group_id=Groups[i].ID) }}"><strong>{{Groups[i].NAME}}</strong></a>
                    {%for key, value in Groups[i].items()%}
                    {{key}}: {{value}}<br>
                    {%endfor%}
			</p>
        </div>
        {%endfor%}
	</section>
{% endblock %}

