{% extends "base.html" %}

{% block content %}
    <style>

    #description {
        border: 1px solid grey;
        border-radius: 2px;
        padding: 4px;
        font-family: monospace;
    }

    #description.hint {
        font-family: inherit;
        color: grey;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    div.profile p {
        margin-top: 1px;
        margin-bottom: 4px;
    }

    </style>

    <h1>{{ user.name }}</h1>

    <div class="profile">
        <p><u>E-Mail-Adresse</u>: {{ user.smail_adresse }}</p>

        {% if user.geburtsdatum %}
            <p><u>Geburtsdatum</u>: {{ user.geburtsdatum }}</p>
        {% endif %}

        <span><i>Beschreibung:</i></span>
        {% if user.profil_beschreibung %}
            <p id="description">{{ user.profil_beschreibung }}</p>
        {% else %}
            <p id="description" class="hint">
                <span><i>Beschreibe dich, damit andere mehr über dich erfahren können.</i></span>
            </p>
        {% endif %}
    </div>

	{% if user == current_user %}
    <p><a href="{{ url_for('login.edit_profile') }}">Profil bearbeiten</a></p>
    {% endif %}

{% endblock %}
