<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Lerngruppen</title>
    <style>
        *, html {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0 1rem;
        }

        #nav-search-form {
            display: inline-flex;
            flex-flow: row wrap;
            align-items: center;
        }

        #nav-search-form input {
            width: auto;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block body %}
	<div>
		Navigation:
		<a href="/">Index</a>
        <form id="nav-search-form" method="GET" action="/search">
            <input type="text" name="q" placeholder="Suche Gruppen" aria-label="Suche Gruppen">
            <button type="submit">Suchen</button>
        </form>
	</div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% endblock %}
</body>
</html>
