{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block content %}

    {% set is_self = user == current_user %}

    <h1>{{ user.name }}</h1>

    <div class="profile">
        {% if is_self %}
            <p><u>E-Mail-Adresse</u>: {{ user.smail_adresse }}</p>

            {% if user.geburtsdatum %}
                <p><u>Geburtsdatum</u>: {{ user.geburtsdatum }}</p>
            {% endif %}
        {% endif %}

        <p><u>Studiengang</u>: {{ user.studiengang_name }}</p>
        <p><u>Fakultät</u>: {{ user.fakultaet_name }}</p>
        <p><u>Standort</u>: {{ user.fakultaet_standort }}</p>

        <span><i>Beschreibung:</i></span>
        {% if user.profil_beschreibung %}
            <p id="description">{{ user.profil_beschreibung }}</p>
        {% else %}
            <p id="description" class="hint">
                <span><i>
                    {% if is_self %}
                        Beschreibe dich, damit andere mehr über dich erfahren können.
                    {% else %}
                        Dieser Nutzer hat keine Beschreibung.
                    {% endif %}
                </i></span>
            </p>
        {% endif %}
    </div>

	{% if is_self %}
        <p><a href="{{ url_for('login.edit_profile') }}">Profil bearbeiten</a></p>
    {% endif %}

{% endblock %}
